<nb-tabset>
  <nb-tab
    style="position: relative"
    tabTitle="friends"
    responsive
    tabIcon="person-outline"
    [badgeText]="users.length.toString()"
    badgeStatus="info"
  >
    <nb-user
      data-user-item
      *ngFor="let user of users"
      size="large"
      [name]="user.name"
      [title]="user.title"
      [badgeText]="user.badgeText"
      [badgeStatus]="user.badgeStatus"
      badgePosition="bottom right"
      picture="https://api.lorem.space/image/face?w=150&h=220"
      class="user-chat"
      (click)="HandleClickChat({ user: user, event: $event })"
    ></nb-user>

    <button class="add-friends" (click)="openFriendsDialog()">
      <nb-icon icon="plus-outline" style="color: #fff"></nb-icon>
    </button>
  </nb-tab>
  <nb-tab
    tabTitle="Groups"
    tabIcon="person-outline"
    responsive
    badgeText="0"
    badgeStatus="danger"
  >
    groups here
  </nb-tab>
  <nb-tab
    tabTitle="Channel"
    tabIcon="person-outline"
    responsive
    badgeText="0"
    badgeStatus="danger"
  >
    channel here
  </nb-tab>
</nb-tabset>
