
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Telegram</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"><img src="https://i.pinimg.com/originals/b3/81/f1/b381f1b5e7dbccca15ddb526c634e16d.gif" width="200px"></span>
          </div>
          <h3 class="text-center mb-4">Login</h3>
          <form action="#" class="login-form">

            <mat-label>Email</mat-label>
            <div class="form-group">

              <mat-form-field style="width: 93%; "  >

              <input  type="text" class="form-control rounded-left"  title="email" matInput [formControl]="email" placeholder="Ex.pat@example.com">

            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              please enter valid email </mat-error>
            </mat-form-field>
            <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            </div>

            <mat-label>Password</mat-label>
            <div class="form-group"   >
              <mat-form-field  style="width: 93%; " >

              <input id="password" type="password" class="form-control rounded-left" matInput [formControl]="password" name="password" title="password">
              <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                password is required. </mat-error>

                <mat-error *ngIf="password.hasError('required')">
                  password is required. </mat-error>
              </mat-form-field>

            </div>
            <div class="form-group">
              <button [disabled]="!email.valid || !password.valid "  (click)="submit()"  type="submit" class="form-control btn btn-primary rounded submit px-3" >Login</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">

                <a (click)="goToRegister()" >Create an account?</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
