<!--
<div *ngFor="let obj of admin.AllPost">
<h1>{{obj.content}}</h1>
</div> -->


<button  style="margin-bottom:10px" class="border-bottom-0 btn btn-info" (click)=" CreatePostdialog()"> + Add New Post </button>


<div class="row justify-content-center">
  <div class="col-md-6 text-center mb-5">
    <br>
    <br>
    <h2 class="heading-section">post</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="table-wrap">
      <table class="table">
        <thead class="thead-primary">
          <tr>

            <th>name</th>
            <th>bio</th>
            <th>Image_path</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let obj of AllPost" >

            <td>{{obj.user}}</td>
            <td>{{obj.content}}</td>
             <td><img src="../../../assets/img/{{obj.media_posts}}" width="50px"></td>
           <td>
             <!-- <button class="border-bottom-0 btn btn-danger" *ngIf="obj.isBlocked==0"  (click)="BlockStory(obj)">block</button>
             <button class="border-bottom-0 btn btn-success " *ngIf="obj.isBlocked!=0"  (click)="UnBlockstory(obj)">unblock</button> -->
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>



















<ng-template #callCreatepostDailog>
<h2 mat-dialog-title>Add New post</h2>
<mat-dialog-content class="mat-typography">
  

<form class="example-form" [formGroup]="createFormPost" >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Post Content</mat-label>
      <input type="text" matInput formControlName="content">
  
      <mat-error *ngIf="createFormPost.controls['content'].hasError('required')">
        Post Content is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<br>
    <mat-label>Upload Image </mat-label>
    <input type="file" #file formControlName="file_path" (change)="uploadImage(file.files)">
</form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="CreatePost()">save</button>
</mat-dialog-actions>

</ng-template>










<!-- 

<ng-template #callCreatepostDailog>
  <h2 mat-dialog-title>Add New Post</h2>
  <mat-dialog-content class="mat-typography">
  
  
  <form class="example-form" [formGroup]="createFormPost" >

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Content </mat-label>
      <input type="text" matInput formControlName="content">
      <mat-error *ngIf="createFormPost.controls['content'].hasError('required')">
        Post content is <strong>required</strong>
      </mat-error>
    </mat-form-field> 

  
  <br>
      <mat-label>Upload Image </mat-label>
  
      <input type="file" #file formControlName="file_path" (change)="uploadImage(file.files)">
  </form>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="CreatePost()">save</button>
  </mat-dialog-actions>
  </ng-template>
  
  
 -->




  <!-- 1st blog post -->
  <!-- <div class="card" > -->

    <!-- banner image and text -->
      <!-- <div class="card-banner">

        <img class="banner-img" src='post1.jpg' alt=''>
      </div> -->

<!-- #tags,heading,description -->
      <!-- <div class="card-body"> -->
        <!-- <p class="blog-hashtag">{{obj.created_at}}</p> -->
        <!-- <h2 class="blog-title">What is the tastiest pizza in Pizza Hut?</h2> -->
        <!-- <p class="blog-description">{{obj.content}}</p> -->

<!-- Profile image, name, followers -->
        <!-- <div class="card-profile"> -->
          <!-- <img class="profile-img" src='../../../assets/img/screen/{{obj.media_posts}}' alt=''> -->
            <!-- <img class="profile-img" src='' alt=''>
          <div class="card-profile-info">
            <h3 class="profile-name">Eleanor Pea</h3>
            <p class="profile-followers">5.2k followers</p>
          </div>
        </div>

      </div>
    </div> -->
<!-- 1st blog post - The End -->

