<!-- <div class="card card-default">
    <div class="card-header">
      <h2>Groups List :</h2>

      <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-data-tables" role="button" aria-expanded="false"
        aria-controls="collapse-data-tables"> </a>

    </div>

      <table id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>name</th>
            <th>bio</th>
            <th>Image_path</th>

            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let obj of Admin.Groups">
            <td>{{obj.name}}</td>
            <td>{{obj.bio}}</td>
            <td><img src="../../../assets/images/{{obj.image_path}}" width="50px"></td>
            <td>



                <button (click)="deleteContactUs(obj.id)">Delete</button>



            </td>
          </tr>



        </tbody>
      </table>

    </div>
 -->









<div class="row justify-content-center">
  <div class="col-md-6 text-center mb-5">
    <br>
    <br>
    <h2 class="heading-section">Groups List</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="table-wrap">
      <table class="table">
        <thead class="thead-primary">
          <tr>

            <th>name</th>
            <th>bio</th>
            <th>Image_path</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let obj of Admin.Groups">
            <td>{{obj.name}}</td>
            <td>{{obj.bio}}</td>
            <td><img src="../../../assets/images/{{obj.image_path}}" width="50px"></td>
           <!-- <td>
             <button class="border-bottom-0 btn btn-danger" *ngIf="obj.isBlocked==0"  (click)="BlockStory(obj)">block</button>
             <button class="border-bottom-0 btn btn-success " *ngIf="obj.isBlocked!=0"  (click)="UnBlockstory(obj)">unblock</button>
            </td> -->
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
