<nb-layout-header fixed>
  <nb-icon
    (click)="toggleSidebar()"
    class="sidebar-toggle"
    icon="menu-2-outline"
  ></nb-icon>
  <span><strong>Telegram</strong></span>
  <span>
    <a [routerLink]="[{ outlets: { user: ['userprofile'] } }]">
      user profile
    </a>
    <!--{ outlets: { user: ['userprofile'] } }
        { outlets: { outletName: ['path'] } }
    -->
  </span>
  <nb-search type="column-curtain"></nb-search>
  <!-- <nb-search type="rotate-layout"></nb-search> -->
</nb-layout-header>
