.sidebar-toggle {
  padding-right: 1.25rem;
  text-decoration: none;
  color: var(--text-hint-color);
  font-size: 3.5rem;
  cursor: pointer;
}

nb-search {
  margin-left: 10px;
}
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .header__left,
.main-header .header__right {
  display: flex;
  align-items: center;
}
