<div class="card card-default">
    <div class="card-header">
      <h2> My Order List :</h2>
  
      <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-data-tables" role="button" aria-expanded="false"
        aria-controls="collapse-data-tables"> </a>
  
    </div>
  
      <table id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>Name </th> 
             <th>Price </th>
            <th>Image</th>
            <th>descriptions</th>
            <th>status</th>
            
            <th>Createtime </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let obj of User.UserSubscription">
            <td>{{obj.name}}</td>
             <td>{{obj.price}}</td>  
             <td><img src="../../../assets/images/{{obj.Image}}" width="50px"> </td>
            <td>{{obj.descriptions}} </td>
            <td>{{obj.status}} </td>
            <td>{{obj.createtime}}</td>
           
            <td>
              
  
                
                 <button class="btn btn primary" (click)="deleteSubscription(obj)">UnSubscripe</button> 
                  
                
              
            </td>
          </tr>
  
          
  
        </tbody>
      </table>
  
    </div>












    <ng-template #calldeleteDailog>

        <h2>Are You Sure you want to UnSubscripe this Service?</h2>
        <button mat-dialog-close="yes"> Yes </button>
        <button mat-dialog-close="no"> No</button>
        </ng-template>