<!-- <app-sidebar></app-sidebar> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
        <div class="card-header">Number Of Grops</div>
        <div class="card-body">
          <p class="card-text" style="color: #fff; font-size: 40px">
            {{ contGroup }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
        <div class="card-header">Number Of Users</div>
        <div class="card-body">
          <p class="card-text" style="color: #fff; font-size: 40px">
            {{ contUser }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem">
        <div class="card-header">Number Of Post</div>
        <div class="card-body">
          <p class="card-text" style="color: #fff; font-size: 40px">
            {{ contChannel }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <div class="col-md-12 text-center mb-5" style="background-color: #fff">
    <br />
    <br />
    <br />

    <div width="20" height="20">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <br />
    <br /><br />
    <br />
  </div>
</div>
