
<!-- <app-sidebar></app-sidebar> -->




<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Number Of Grops</div>
  <div class="card-body">

    <p class="card-text" style="color: #fff; font-size: 40px;">{{contGroup}}</p>
  </div>

  
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Number Of Users</div>
  <div class="card-body">

    <p class="card-text" style="color: #fff; font-size: 40px;">{{contUser}}</p>
  </div>
</div>


<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Number Of Chanal</div>
  <div class="card-body">

    <p class="card-text" style="color: #fff; font-size: 40px;">{{contChannel}}</p>
  </div>
</div>
<div class="card card-default">

<!-- <div *ngFor="let obj of Admin.AllPost">
  <h1>{{obj.content}}</h1>
  </div> -->

  <div class="col-md-6 text-center mb-5" style="background-color:#fff">
<!--
<br>
 <br>
<br>
<h1>{{contUser}}</h1>
<h1>{{contGroup}}</h1>
<h1>{{contChannel}}</h1> -->
<div width="20" height="20">
<canvas id="canvas" >{{chart}}</canvas>
</div>
<br>
<br><br>
<br>

  </div>






