<nb-layout-header fixed>
  <nb-icon (click)="toggleSidebar()" class="sidebar-toggle"  icon="menu-2-outline"></nb-icon>
  <img src="https://i.pinimg.com/originals/b3/81/f1/b381f1b5e7dbccca15ddb526c634e16d.gif "  width="100px" style="border-radius:1000px;">
  <h2>
    Admin Dashbord
  </h2>
  <button style="background-color:rgba(179, 20, 20, 0.867) ; color:rgb(255, 255, 255) ; border-radius: 10px; right: 0; padding: 10px; border: none; margin-left: 1000px;" (click)="logout()" >Logout </button>
</nb-layout-header>
