
        <!-- <pre class="language-html mb-4">
  <code> -->
  <!-- <app-sidebar></app-sidebar> -->











<!--

<div class="card card-default">
    <div class="card-header">
      <h2>ContactUs List :</h2>

      <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-data-tables" role="button" aria-expanded="false"
        aria-controls="collapse-data-tables"> </a>

    </div>

      <table id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>message</th>
            <th>In Stock</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let obj of home.ContactUs">
            <td>{{obj.username}}</td>
            <td>{{obj.email}} </td>
            <td>{{obj.subject}}</td>
            <td>{{obj.message}}</td>
            <td>



                  <button (click)="deleteContactUs(obj.id)">Delete</button>



            </td>
          </tr>



        </tbody>
      </table>

    </div> -->








    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <br>
        <br>
        <h2 class="heading-section">ContactUs List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>message</th>
                <th>In Stock</th>


              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let obj of home.ContactUs">
                <td>{{obj.username}}</td>
                <td>{{obj.email}} </td>
                <td>{{obj.subject}}</td>
                <td>{{obj.message}}</td>
               <td>
                <!-- <button (click)="deleteServices(obj.id)">Delete</button>

                  <button class="btn btn primary" (click)="updateDailog(obj)">Update</button> -->




                 <button class="border-bottom-0 btn btn-danger "  (click)="deleteContactUs(obj.id)">Delete</button>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>








    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <br>
        <br>
        <h2 class="heading-section">Testimonials List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>Image</th>
                <th scope="col">From User</th>
                <th>description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of allTesti">

                <td> <img src="../../../assets/img/{{obj.image_path}}" >  </td>
                <td>{{obj.first_name}}  {{obj.last_name}}</td>
                <td>{{obj.description}}</td>
               <td>
                 <button class="border-bottom-0 btn btn-danger" *ngIf="obj.is_accept==0"  (click)="Blocktestamonail(obj)">hide</button>
                 <button class="border-bottom-0 btn btn-success " *ngIf="obj.is_accept!=0"  (click)="UnBlocktestamonail(obj)">Show</button>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>




















<!--

    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <br>
        <br>
        <h2 class="heading-section">Testimonials List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th scope="col">From User</th>
                <th>description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let obj of home.Testimonials">

                <td>{{obj.user_from}}</td>
                <td>{{obj.description}}</td>
               <td>
                <button (click)="deleteServices(obj.id)">Delete</button>

                  <button class="btn btn primary" (click)="updateDailog(obj)">Update</button>




                 <button class="border-bottom-0 btn btn-success "  (click)="Accepting(obj)"> Accepting</button>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div> -->








    <div class="row">
      <div class="col-lg-6 col-xl-3">
       <div class="card mb-4">
          <img  style="width:auto ; margin:10px ;border:1px solid #000" class="card-img-top" src="../../../assets/img/{{home.HomePage[0].img}}">
          <div class="card-body">
            <h2 class="card-title ">{{home.HomePage[0].name}}</h2>
            <p class="card-text pb-3">{{home.HomePage[0].address}}<br> {{home.HomePage[0].email}}<br>{{home.HomePage[0].phone}} </p>
            <button class="border-bottom-0 btn btn-success "  (click)="updateHomeDailog(home.HomePage[0])"> UpDate</button>
            </div>
          </div>
      </div> -







          <div class="col-lg-6 col-xl-3">
            <div class="card mb-4">
               <img style="width:auto ; height:350px ; margin:10px ;border:1px solid #000" class="card-img-top" src="../../../assets/img/{{home.AboutUs[0].img}}"  >
               <div class="card-body">
                 <h2 class="card-title ">Contant</h2>
                 <p class="card-text pb-3">{{home.AboutUs[0].contant}} </p>
                 <button class="border-bottom-0 btn btn-success " (click)="updateAboutDailog(home.AboutUs[0])"> UpDate</button>
                 <!-- <a href="#" class="btn btn-outline-primary btn-pill"> UpDate</a> -->
                 </div>
               </div>
           </div>

  </div>


<!--

    <div class="card card-default">
      <div class="card-header">
        <h2>Testimonials List :</h2>

        <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-table-striped" role="button"
          aria-expanded="false" aria-controls="collapse-table-striped"> </a>


      </div>
      <div class="card-body">
        <div class="collapse" id="collapse-table-striped">

        </div>
        <table class="table table-striped">
          <thead>
            <tr>

              <th scope="col">description</th>
              <th scope="col">is_Accept</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of home.Testimonials">

              <td>{{obj.description}}</td>
              <td>{{obj.is_accept}}</td>
              <td>
                <button (click)="Accepting(obj)"> Accepting </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->




















    <ng-template #callHomeupdateDailog>
      <form class="example-form" [formGroup]="updateHomeForm" >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label> Name</mat-label>
            <input type="text" matInput formControlName="name"
                   [(ngModel)]="Home_data.name">
          </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Logo</mat-label>
        <input type="text" matInput formControlName="logo"
               [(ngModel)]="Home_data.logo">
      </mat-form-field>
      <br>
      <mat-label>Upload Image </mat-label>
      <input type="file" #file formControlName="img" (change)="uploadImage(file.files)" [(ngModel)]="Home_data.img">
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> email</mat-label>
        <input type="email" matInput formControlName="email"
               [(ngModel)]="Home_data.email">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> phone</mat-label>
        <input type="text" matInput formControlName="phone"
               [(ngModel)]="Home_data.phone">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> address</mat-label>
        <input type="text" matInput formControlName="address"
               [(ngModel)]="Home_data.address">
      </mat-form-field>
      <br>

         <button (click)="UpdateHome()">DONE</button>
      </form>



  </ng-template>


  <ng-template #callAboutupdateDailog>
    <form class="example-form" [formGroup]="updateAboutUsForm" >


    <br>

        <mat-label>Upload Image </mat-label>
        <input type="file" #file formControlName="img" (change)="UploadImageAboutUs(file.files)" [(ngModel)]="About_data.img">
        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> contant</mat-label>
          <input type="text" matInput formControlName="contant"
                 [(ngModel)]="About_data.contant">
        </mat-form-field><button (click)="UpdateAbout()">DONE</button>
    </form>



</ng-template>

<ng-template #callTestimonialUpdateDailog>
  <form class="example-form" [formGroup]="updateTestimonialForm" >

    <br>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> description</mat-label>
      <input type="text" matInput formControlName="description" readonly
             [(ngModel)]="Testimonial_data.description">
    </mat-form-field>

  <br>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> is_accept</mat-label>

        <input type="number" matInput formControlName="is_accept"
               [(ngModel)]="Testimonial_data.is_accept">
      </mat-form-field>
      <br>
      <br>
      <button (click)="UpdateTestimonial()">DONE</button>
  </form>



</ng-template>








            <!-- Footer -->


            <ng-template #calldeleteDailog>

                <h2>Are You Sure you want to delete this item?</h2>
                <button mat-dialog-close="yes">Yes</button>
                <button mat-dialog-close="no">No</button>
                </ng-template>
