<div class="container rounded bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5
            class="text-center d-flex justify-content-between align-items-center w-100"
          >
            Profile Settings
            <nb-icon
              icon="close-outline"
              class="profileside-toggle"
              (click)="toggleSidebar()"
            ></nb-icon>
          </h5>
        </div>

        <!---->
        <div class="card">
          <!-- [src]="User.GetUserByIdDto.images" -->
          <img
            src="https://picsum.photos/400/400"
            class="card-img-top"
            alt="profile photo"
          />
          <div class="card-body">
            <h5 class="card-title">
              <span>
                {{ User.GetUserByIdDto.first_Name }}
                {{ User.GetUserByIdDto.middle_Name }}
                {{ User.GetUserByIdDto.last_Name }}</span
              >
            </h5>
            <p class="card-text">
              {{
                User.GetUserByIdDto.bio ??
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, consequuntur."
              }}
            </p>
            <p class="card-text">
              <small class="text-muted"
                >@{{ User.GetUserByIdDto.username }}</small
              >
              <br />
              <small class="text-muted"
                >email:{{ User.GetUserByIdDto.email }}</small
              >
              <br />
              <small class="text-muted"
                >phone:{{ User.GetUserByIdDto.phone }}</small
              >
            </p>
          </div>
          <div class="card-footer text-muted">
            <button
              class="btn btn-primary"
              type="submit"
              (click)="updateDailog(this.User.GetUserByIdDto)"
            >
              update profile
            </button>
          </div>
        </div>
        <!--  -->
      </div>
    </div>

    <div class="my-4">
      <hr />
    </div>

    <div class="col-md-12">
      <div class="">
        <form [formGroup]="chackPasswords">
          <div class="col-md-12">
            <label class="labels">Current Password</label
            ><input
              type="text"
              class="form-control"
              formControlName="oldPassword"
              value=""
            />
          </div>

          <div class="col-md-12">
            <label class="labels">New Password</label
            ><input
              type="text"
              class="form-control"
              formControlName="newPassword"
              value=""
            />
          </div>
          <br />
          <div class="col-md-12 experience">
            <button
              class="btn btn-primary profile-button"
              (click)="ChackPassword()"
            >
              change Password
            </button>
          </div>
        </form>
        <form
          action="/action_page.php"
          style="margin-top: 40px"
          [formGroup]="insertReview"
          style="padding-bottom: 100px"
        >
          <div class="my-4"><hr /></div>
          <p><span for="w3review">Review :</span></p>
          <textarea
            id="w3review"
            name="w3review"
            rows="4"
            cols="50"
            formControlName="description"
            class="form-control"
          ></textarea>
          <br />
          <input
            type="submit"
            class="btn btn-primary profile-button"
            (click)="InsertTestimonial()"
            value="Save review"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #callUpdateProfileDailog>
  <form class="example-form" [formGroup]="UpdateProfileUsers">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>first_name</mat-label>
      <input
        type="text"
        matInput
        formControlName="u_first_name"
        [(ngModel)]="p_data.u_first_name"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>middle_name </mat-label>
      <input
        type="text"
        matInput
        formControlName="u_middle_name"
        [(ngModel)]="p_data.u_middle_name"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>last_name </mat-label>
      <input
        type="text"
        matInput
        formControlName="u_last_name"
        [(ngModel)]="p_data.u_last_name"
      />
    </mat-form-field>
    <br />
    <mat-label>Upload Image </mat-label>
    <input
      type="file"
      #file
      formControlName="u_image_path"
      (change)="uploadImage(file.files)"
      [(ngModel)]="p_data.u_image_path"
    />
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>u_gender </mat-label>
      <input
        type="text"
        matInput
        formControlName="u_gender"
        [(ngModel)]="p_data.u_gender"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>l_email </mat-label>
      <input
        type="text"
        matInput
        formControlName="l_email"
        [(ngModel)]="p_data.l_email"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>l_phone </mat-label>
      <input
        type="text"
        matInput
        formControlName="l_phone"
        [(ngModel)]="p_data.l_phone"
      />
    </mat-form-field>
    <br />
    <button (click)="UpdateProfileUser()" class="btn btn-primary">
      Update
    </button>
  </form>
</ng-template>
