<div class="card card-default">
    <div class="card-header">
      <h2>Channels List :</h2>
  
      <a class="btn mdi mdi-code-tags" data-toggle="collapse" href="#collapse-data-tables" role="button" aria-expanded="false"
        aria-controls="collapse-data-tables"> </a>
  
    </div>
  
      <table id="productsTable" class="table table-hover table-product" style="width:100%">
        <thead>
          <tr>
            <th>username</th>
            <th>bio</th>
            <th>is_private</th>
            <th>Image_path</th>
            
            <th></th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let obj of Admin.Channels">
            <td>{{obj.username}}</td>
            <td>{{obj.bio}} </td>
            <td>{{obj.is_private}}</td>
            <td><img src="../../../assets/img/{{obj.Image_path}}" width="50px"></td>
            <td>
              
  
                
                 <!-- // <button (click)="deleteContactUs(obj.id)">Delete</button> -->
                  
                
              
            </td>
          </tr>
  
          
  
        </tbody>
      </table>
  
    </div>