<nb-chat [title]="userChat.name" size="large" scrollBottom="true">
  <nb-chat-message
    *ngFor="let msg of userChat.userMessages"
    [type]="msg.type"
    [message]="msg.text"
    [reply]="msg.reply"
    [sender]="msg.user.name"
    [date]="msg.date"
    [files]="msg.files"
    [avatar]="msg.user.avatar"
    dateFormat="shortTime"
  >
  </nb-chat-message> 

  <!-- 
      [latitude]="msg.latitude"
          [quote]="msg.quote"
    [longitude]="msg.longitude"
   -->

  <nb-chat-form
    (send)="sendMessage($event)"
    [dropFiles]="true"
    [showButton]="true"
    class="fixed-chat"
    messagePlaceholder="message here..."
    dropFilePlaceholder="drop file"
  >
  </nb-chat-form>
</nb-chat>
